[submodule "ruby-1.8"]
	path = lib/ruby-1.8
	url = https://github.com/lacc97/ruby
	branch = mkxp-1.8
[submodule "lib/ruby-1.9"]
	path = lib/ruby-1.9
	url = https://github.com/lacc97/ruby
	branch = mkxp-1.9
[submodule "lib/win32api"]
	path = lib/win32api
	url = https://github.com/lacc97/mkxp-win32
